<template>
	<div class="wrapper">
		<div class="text">{{ count }}</div>
		<div class="controls">
			<button @click="$emit('customEvent')" class="btn">plus</button>
			<span class="txt">i</span>
			<button @click="$emit('anotherCustomEvent')" class="btn">minus</button>
		</div>
	</div>
</template>

<script>
  /* eslint-disable */
	const Counter = {
		computed: {
			count(){
				return this.$store.state.count;
			}
		}
	}

	export default Counter;
</script>

<style scoped>
	.wrapper{
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.controls{
		padding: 40px 0;
	}

	.text{
		font-size: 48px;
		color: #41B883;
	}

	.btn{
		width: 150px;
		height: 60px;
		background: #fff;
		font-size: 24px;
		border: 1px solid #41B883;
	}

	.txt{
		font-size: 24px;
		padding: 0 20px;
	}
</style>
