<template>
	<div>
		<span class="text">There is absolutely nothing here</span>
		<button @click="handleGoBack()" class="butt">Go back</button>
	</div>
</template>

<script>
	const EmptyRoute = {
		methods: {
			handleGoBack: function() {
				this.$router.go(-1);
			}
		}
	}

	export default EmptyRoute;
</script>

<style scoped>
	.text{
		padding: 20px 0;
	}

	.butt {
		outline: none;
		cursor: pointer;
		width: 200px;
		padding: 25px;
		border: 1px solid #41B883;
		background: #41B883;
		color: #fff;
		text-decoration: none;
		transition: all ease-in-out .4s;
		font-size: 18px
	}

	.butt:hover{
		background: #fff;
		color: #41B883;
		border: 1px solid #41B883;
	}
</style>
