<template>
	<div class="wrapper">
		<div v-if="!data">Press Vue logo to populate me</div>
		<div v-else v-for="(item, index) in data" :key="index">
			{{ item.text }}
		</div>
		<button v-if="data" @click="clear()">Clear</button>
	</div>
</template>

<script>
	const EntryPoint = {
		computed: {
			data () {
				return this.$store.state.data;
			}
		},
		methods: {
			clear: function() {
				this.$store.commit('setData', null);
      }
		}
	}

	export default EntryPoint;
</script>

<style>
	.wrapper{

	}
</style>
