<template>
	<div>
		<div>Zwrotka z backu to:  {{ response }}</div>
	</div>
</template>

<script>
	// import axios from 'axios';

	const Final = {
	  data: function() {
		return {
			response: ''
		}
    },
  }

	export default Final;
</script>
