<template>
	<div class="example__container">
		<Counter v-on:customEvent="withMutations(true)" v-on:anotherCustomEvent="withMutations(false)"/>
		<Counter v-on:customEvent="withoutMutations(true)" v-on:anotherCustomEvent="withoutMutations(false)"/>
	</div>
</template>

<script>
  /* eslint-disable */
	import Counter from './Counter'
	const Example = {
	  components: {
	    Counter
	  },
	  methods: {
	    withMutations: function (type) {
				type
					? this.$store.state.count += 1
					: this.$store.state.count -= 1;
		},
	    withoutMutations: function (type) {
	      type
					? this.$store.commit('increment')
					: this.$store.commit('decrement')
			}
	  }
	};

	export default Example;
</script>

<style>
	.example__container{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
</style>
