<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png" @click="request()">
    <nav>
      <router-link to="/" class="link">App</router-link>
      <router-link to="/counter" class="link">Counter</router-link>
      <router-link to="/empty" class="link">Empty</router-link>
      <router-link to="/questions" class="link">Questions</router-link>
      <router-link to="/final" class="link">Final</router-link>
    </nav>
    <router-view class="view"></router-view>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'app',
  methods: {
    request: function() {
      axios.get('http://192.168.0.221:3000/initial')
      .then(response => this.$store.commit('setData', response.data));
    }
  }
}
</script>

<style>

  *{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #41B883
  }

  .link{
    width: 200px;
    padding: 25px;
    border-left: 1px solid #41B883;
    border-right: 1px solid #41B883;
    color: #35495E;
    text-decoration: none;
    transition: all ease-in-out .4s;
  }

  .link:hover {
    background: #41B883;
    color: #fff;
  }

  .router-link-exact-active{
    background: #41B883;
    color: #fff;
  }

  .view {
    height: 60vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
</style>
